<div class="cards bgimage-nightsout">
  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/cards/card-nightclub.jpg" alt="">
    </div>
    <div class="card-header">
      Nights Out To Remember
    </div>
    <div class="card-copy">
      <p>Great Nightclubs to party all night long!</p><p>Discover the freshest club sounds or re-live the retro classics.</p>
    </div>
  </div></a>

  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/cards/card-live-music.jpg" alt="">
    </div>
    <div class="card-header">
      Live Music Venues
    </div>
    <div class="card-copy">
      <p>Live music has always been a part of Huddersfield.</p><p>Accoustic Bars. Rock Nights. Full orchestras and so much more.</p>
    </div>
  </div></a>

  <div class="card"><a href="{{ site.baseurl }}/eating-out" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/cards/card-restaurant.jpg" alt="">
    </div>
    <div class="card-header">
      Eating Out in Style
    </div>
    <div class="card-copy">
      <p>Fine dining to Fahita!</p><p>A Feast awaits at one of our many restaurants from around the world all in one place.</p>
    </div>
  </div></a>
</div>
