<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="{{ site.url }}/images/cards/card-greenhead.jpg" alt="">
    </div>
    <div class="card-header">
      Amazing Parks and Greenspaces
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="{{ site.url }}/images/cards/card-leisure-centre.jpg" alt="">
    </div>
    <div class="card-header">
      The Best Leisure Facilities
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="{{ site.url }}/images/cards/card-john-smith-stadium.jpg" alt="">
    </div>
    <div class="card-header">
      Superb Sporting Venues
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
