<div class="cards bgimage-greenhead">
  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/cards/card-greenhead-bandstand.jpg" alt="">
    </div>
    <div class="card-header">
      Amazing Parks
    </div>
    <div class="card-copy">
      <p>There are many parks and walks throughout Huddersfield.</p><p>Greenhead Park boasts one of the few remaining Bandstands that is still entertaining families throughout the summer.</p>
    </div>
  </div></a>

  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/cards/card-john-smiths-stadium.jpg" alt="">
    </div>
    <div class="card-header">
      Sporting Venues
    </div>
    <div class="card-copy">
      <p>The iconic John Smith's Stadium host's Premier League football with Huddersfield town, and The Huddersfield Giants..</p><p>Oh and did you know The Rugby League was founded in Huddersfield?</p>
    </div>
  </div></a>

  <div class="card"><a href="#" class="card-links">
    <div class="card-image">
      <img src="{{ site.baseurl }}/images/cards/card-climbing-wall.jpg" alt="">
    </div>
    <div class="card-header">
      Leisure For All
    </div>
    <div class="card-copy">
      <p>The UK's Highest man made climbing wall.</p><p>Along with state of the art swimming centres, gym's, marathon running and The Tour De Yorkshire!</p><p>Theres no excuse not to get active.</p>
    </div>
  </div></a>
</div>
