<div class="cards">
   {% for eating-out in site.pages %}
     {% if eating-out.category == include.category %}
   <div class="card">

     <p class="loopclass">
       <a href="{{ eating-out.url | absolute_url }}">{{ eating-out.title }}<div class="card-image">
              <img src="{{ site.baseurl }}{{ eating-out.card-image }}" alt="{{ eating-out.card-descritpion }}">
            </div></a>
            <div>{{ eating-out.card-descritpion }}</div>
     </p>
   </div>
   {% endif %}
 {% endfor %}
 </div>
