# Leverage Browser Caching START
ExpiresActive On
ExpiresByType images/eating-out/restaurants/chinese/jpg "access 7 days"
ExpiresByType images/eating-out/restaurants/indian/jpg "access 7 days"
ExpiresByType images/eating-out/restaurants/italian/jpg "access 7 days"
ExpiresByType images/eating-out/restaurants/mexican/jpg "access 7 days"
ExpiresByType images/eating-out/restaurants/turkish/jpg "access 7 days"
ExpiresByType images/eating-out/restaurants/vegetarian/jpg "access 7 days"
ExpiresByType images/cards/jpg "access 7 days"
ExpiresByType images/cards/jpg "access 7 days"
ExpiresByType images/cards/jpg "access 7 days"
ExpiresByType images/jpeg "access 7 days"
ExpiresByType images/gif "access 7 days"
ExpiresByType images/png "access 7 days"
ExpiresByType text/css "access 7 days"
ExpiresByType text/html "access 2 days"
ExpiresByType application/pdf "access 7 days"
ExpiresByType text/x-javascript "access 7 days"
ExpiresByType application/x-shockwave-flash "access 7 days"
ExpiresByType image/x-icon "access 7 days"
ExpiresDefault "access 7 days"
# Leverage Browser Caching END
