<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<body>
  Places to eat out around town will be in categories on this page.

<div>
  <p>
      {% include eating-out/restaurants/index.html %}

      {% for restaurants in site.pages %}
        {% if restaurants.category == 'restaurants' %}
       <li><a href="{{ site.baseurl }}/{{ restaurants.url }}">{{ restaurants.title }}</a></li>
        {% endif %}
      {% endfor %}
  </p>
</div>

<div>
  <p>
      {% include eating-out/pub-grub/index.html %}

      {% for pub-grub in site.pages %}
        {% if pub-grub.category == 'pub-grub' %}
       <li><a href="{{ site.baseurl }}/{{ pub-grub.url }}">{{ pub-grub.title }}</a></li>
        {% endif %}
      {% endfor %}
    </p>
</div>

<div>
  <p>
      {% include eating-out/cafes/index.html %}

            {% for cafes in site.pages %}
              {% if cafes.category == 'cafes' %}
             <li><a href="{{ site.baseurl }}/{{ cafes.url }}">{{ cafes.title }}</a></li>
              {% endif %}
            {% endfor %}
  </p>
</div>
</body>
</html>
