<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<body>
  Places to eat out around town will be in categories on this page.

<div>
    <p>
      {% include eating-out/restaurants/index.html %}

      {% include loop-through-category/loop.html category ='restaurants' %}

    </p>
</div>

<div>
    <p>
      {% include eating-out/pub-grub/index.html %}

      {% include loop-through-category/loop.html category ='pub-grub' %}

    </p>
</div>

<div>
    <p>
      {% include eating-out/cafes/index.html %}

      {% include loop-through-category/loop.html category ='cafes' %}
    </p>

</div>
</body>
</html>
