<div class="bgimage-eating-out bgimage-fixed">

<div>
    <p>
      {% include pages/eating-out/restaurants/index.html %}

      {% include loop-through-category/loop.html category ='restaurants' %}

    </p>
</div>

<div>
    <p>
      {% include pages/eating-out/pub-grub/index.html %}

      {% include loop-through-category/loop.html category ='pub-grub' %}

    </p>
</div>

<div>
    <p>
      {% include pages/eating-out/cafes/index.html %}

      {% include loop-through-category/loop.html category ='cafes' %}
    </p>

</div>
</div>
